@model string

@{
    ViewData["bcbView"] = "Moedas do BCB em XML";
}

<h1>Moedas</h1>

<div>
    <a href="@Url.Action("GetXML", "Bcb")" class="btn btn-primary">Baixar arquivo XML</a>
</div>

<div>
    <a href="@Url.Action("Get2XML", "Bcb")" class="btn btn-primary">Carregar XML</a>
</div>

<div>
    <a href="@Url.Action("GetJson", "Bcb")" class="btn btn-primary">Ver JSON</a>
</div>