@{
    ViewData["Index"] = "Home Page";
}

<div class="text-center">
    <img src="https://raw.githubusercontent.com/keziacamposcs/Web_Json_to_XML/main/README/Web_Json_to_XML.png?token=GHSAT0AAAAAACBC3FQA7LYXOXA7UMCBRLVCZCC7F4A" class="img-fluid">
</div>

